.socials {
  margin-bottom: 1rem;
  display: flex;
  padding: 0;
  list-style-type: none;

  li:not(:last-child) {
    margin-right: 2rem;

  }
  i{
    color: #fff;
    font-size: 4rem;
    transition: all 0.5s;
  }
  i:hover{
    transform: scale(1.2) rotate(360deg);
  }
}